@import '../../styles/include.scss';

.mainMenu {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.item {
  align-items: center;
  border-right: 1px solid #E5E5E5;
  display: flex;
  height: 60px;
  padding: 0 25px;
  white-space: nowrap;

  &.active {
    background-color: #F8F5F5;
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  margin-right: 10px;
  width: 24px;
}

@include media-mobile {
  .mainMenu {
    display: none;
  }
}
