@import '../../styles/include.scss';

.pageHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 71px 0 83px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  line-height: 100%;
  margin-right: 32px;
}

@include media-mobile {
  .pageHeader {
    padding: 56px 20px 18px;
  }
}
